<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1 text-warning text-uppercase">Gym Fit</span>
            </div>
        </nav>
    </div>
    <div class="container">
        <h2 class="h2 text-lg-center text-uppercase">Bienvenido a Gym fit</h2>
        <div class="lead">
            Somos una empresa nacional que ofrece nuestros servicios de gimnasio a un precio muy
            accesible, tenemos sedes en todas las regiones de chile
        </div>
        <h2 class="text-danger h3 text-center text-uppercase">¿ Porque deberias entrenar con nosotros ?</h2>
        <p class="lead">
            Por que tenemos las mejores máquinas de gimnasio y los mejores entrenadores que se
            titual del pais cada año. Tenemos entrenadores especializados en distintas disciplinas
        </p>

    </div>
    <div class="container">
        <h1 class="h2">Registrate ahora</h1>
        @Html.ActionLink("Registrate de inmediato", "Create")
    </div>
    <-->Aun no funciona el delete</-->
    <div class="container">
        <h1 class="h2">Deseas eliminar tu cuenta de Gym Fit</h1>
        @Html.ActionLink("Eliminar cuenta", "Delete")
    </div>
</body>
</html>
